NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_DEFAULT_REGION=Nabeul
MONGODB_URI=
MONGODB_DB=
MONGODB_PLACES_COLLECTION=places
MONGODB_REVIEWS_COLLECTION=reviews
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
MONGODB_USERS_COLLECTION=users
MONGODB_SESSIONS_COLLECTION=sessions
MONGODB_PLACE_REQUESTS_COLLECTION=placeRequests
ADMIN_EMAIL=
IMGBB_API_KEY=
